
<html>
    <head>
      <title></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body >  
      <header class="main-header">
          
        <ul class="main-nav">
           
          <li class="dropdown" >
              <a class="nav-link" routerLink="/games" routerLinkActive="active"   class="font"  > Lugares Turísticos</a>
            <ul class="drop-nav">
              <li><a class="nav-link" routerLink="/games/add" routerLinkActive="active" >Agregar localidad turística</a></li>
            </ul>
          </li>
    
          <!--opcion2-->
          <li class="dropdown">
              <a class="nav-link" routerLink="/puntos" routerLinkActive="active " class="font"> Puntos de interés</a>
              <ul class="drop-nav">
                <li><a class="nav-link" routerLink="/puntos/add" routerLinkActive="active">Agregar punto de interés</a></li>
              </ul>
            </li>
    
            <!--opcion3-->
          <li class="dropdown">
              <a class="nav-link" routerLink="/categorias" routerLinkActive="active" class="font"> Tipo de puntos de interés</a>
              <ul class="drop-nav">
                <li><a class="nav-link" routerLink="/categorias/add" routerLinkActive="active">Agregar tipo de punto de interés</a></li>
              </ul>
            </li>
    
              <!--opcion4-->
          <li class="dropdown">
              <a class="nav-link" routerLink="/proveedores" routerLinkActive="active" class="font"> Proveedores</a>
              <ul class="drop-nav">
                <li><a class="nav-link" routerLink="/proveedores/add" routerLinkActive="active">Agregar proveedor</a></li>
              </ul>
            </li>
    
            <!--opcion5-->
           <li class="dropdown">
            <a class="nav-link" routerLink="/especies" routerLinkActive="active" class="font"> Tipo de Proveedores</a>
            <ul class="drop-nav">
              <li> <a class="nav-link" routerLink="/especies/add" routerLinkActive="active">Agregar tipo de proveedor</a></li>
            </ul>
          </li>
    
             <!--opcion6-->
          <li class="dropdown">
              <a class="nav-link" routerLink="/itinerarios" routerLinkActive="active" class="font"> Itinerarios</a>
              <ul class="drop-nav">
                <li> <a class="nav-link" routerLink="/itinerarios/add" routerLinkActive="active">Agregar itinerarios</a></li>
              </ul>
            </li>
    
             <!--opcion7-->
          <li class="dropdown">
            <a class="nav-link" routerLink="/paquetes" routerLinkActive="active" class="font"> Ciudades de destino</a>
            <ul class="drop-nav">
              <li> <a class="nav-link" routerLink="/paquetes/add" routerLinkActive="active">Agregar ciudad de destino</a></li>
            </ul>
          </li>
    
              <!--opcion8-->
              <li class="dropdown">
                <a class="nav-link" routerLink="/guias" routerLinkActive="active" class="font"> Guías turísticos</a>
                <ul class="drop-nav">
                  <li> <a class="nav-link" routerLink="/guias/add" routerLinkActive="active">Agregar guías turísticos</a></li>
                </ul>
              </li>
    
              <!--opcion9-->
              <li class="dropdown">
                <a class="nav-link" routerLink="/actividades" routerLinkActive="active" class="font"> Actividades</a>
                <ul class="drop-nav">
                  <li> <a class="nav-link" routerLink="/actividades/add" routerLinkActive="active">Agregar actividad turística</a></li>
                </ul>
              </li>
        </ul>
      
      </header>
     
      <!-- <img src="../../../assets/fondo-celeste.png" height="100%" width="100%" />  -->
    </body>
    
    </html>





