<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm"  name="filterPost" placeholder="Buscar" 
     [(ngModel)]="filterPost" autocomplete="off">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<table id="customers" class="borde centrado" >
  <tr>
    <th>Ciudad de destino</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr *ngFor="let paquete of paquetes | paginate: { itemsPerPage: 5, currentPage:pageActual} | filter6: filterPost">
    <td>{{paquete.ciudad_paq}}</td>
    <td><button class="btn btn-danger buttonborder" (click)="showModal()" (click)="deletePaquete(paquete.id_paq)"   >
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
    <td><a [routerLink]="['/paquetes/edit', paquete.id_paq]" class="btn btn-info btn-block buttonborder"  >
      <i class="fa fa-pencil-square-o"></i>  
    </a></td>
  </tr>
</table>    
<pagination-controls (pageChange)="pageActual= $event"  previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>