<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm"  name="filterPost" placeholder="Buscar" 
     [(ngModel)]="filterPost" autocomplete="off">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<table id="customers" class="borde centrado" >
  <tr>
    <th>Categoría</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr *ngFor="let categoria of categorias | paginate: { itemsPerPage: 5, currentPage:pageActual} | filter2: filterPost">
    <td>{{categoria.nombre_cat}}</td>
    <td><button class="btn btn-danger buttonborder" (click)="showModal()" (click)="deleteCategoria(categoria.id_cat)"   >
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
    <td><a [routerLink]="['/categorias/edit', categoria.id_cat]" class="btn btn-info btn-block buttonborder"  >
      <i class="fa fa-pencil-square-o"></i>  
    </a></td>
  </tr>
</table>    
<pagination-controls (pageChange)="pageActual= $event"  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
