<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm"  name="filterPost" placeholder="Buscar" 
     [(ngModel)]="filterPost" autocomplete="off">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>


<table id="customers" class="borde" >
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Dirección</th>
    <th>Foto</th>
    <th>Actualizado</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr *ngFor="let punto of puntos | paginate: { itemsPerPage: 3, currentPage:pageActual} | filter1: filterPost">
    <td>{{punto.nombre_pun}}</td>
    <td>{{punto.descripcion_pun}}</td>
    <td>{{punto.direccion_pun}}</td>
    <td><img class="card-img-top" [src]="punto.imagen_pun" width="100" height="170"></td>
    <td>{{punto.created_at_pun | date: 'yyyy-MM-dd'}}</td>
    <td><button class="btn btn-danger buttonborder" (click)="showModal()" (click)="deletePunto(punto.id_pun)"   >
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
    <td><a [routerLink]="['/puntos/edit', punto.id_pun]" class="btn btn-info btn-block buttonborder"  >
      <i class="fa fa-pencil-square-o"></i>  
    </a></td>
  </tr>
</table>    
<pagination-controls (pageChange)="pageActual= $event"  previousLabel="Anterior" nextLabel="Siguiente" class="centrado"></pagination-controls>